@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 93%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(41, 86%, 52%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { background-color: hsl(41, 86%, 52%); }

body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

li { list-style: none; }

a {
    text-decoration: none;
    color: #fff;
}

a,
svg,
button,
ion-icon { display: block; }


button{
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea { width: 100%; }

button { cursor: pointer; }


html {
    /*font-family: 'Rubik', sans-serif;*/
    font-size: 10px;
    scroll-behavior: smooth;
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

/* .navbar, */
.header-btn-group .btn { display: none; }

.header {
    --color: #FFFFFFFF;
    --btn-color: #ffffff;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 8px;
    border-block-end: 1px solid #F1D6C633;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.06);
}

.header.active {
    --color: #0D1216FF;
    --btn-color: #0D1216FF;

    position: fixed;
    top: -86px;
    background-color: #fff;
    box-shadow: 0 1px 4px #00000033;
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--color);
    font-family: 'Rubik', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.logo .span {
    display: inline-block;
    color: #FF9D2EFF;
}

.header-btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-btn,
.shopping-btn{
    color: var(--btn-color);
    font-size: 20px;
}

.search-btn,
.shopping-btn ion-icon { --ionicon-stroke-width: 50px; }

.nav-toggle-btn {
    display: grid;
    gap: 4px;
}

