@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 93%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(41, 86%, 52%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { background-color: hsl(41, 86%, 52%); }

body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

li { list-style: none; }

a {
    text-decoration: none;
    color: #fff;
}

a,
svg,
button,
ion-icon { display: block; }


button{
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea { width: 100%; }

button { cursor: pointer; }


html {
    /*font-family: 'Rubik', sans-serif;*/
    font-size: 10px;
    scroll-behavior: smooth;
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

/* .navbar, */
.header-btn-group .btn { display: none; }

.header {
    --color: #FFFFFFFF;
    --btn-color: #ffffff;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 8px;
    border-block-end: 1px solid #F1D6C633;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.06);
}

.header.active {
    --color: #0D1216FF;
    --btn-color: #0D1216FF;

    position: fixed;
    top: -86px;
    background-color: #fff;
    box-shadow: 0 1px 4px #00000033;
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--color);
    font-family: 'Rubik', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.logo .span {
    display: inline-block;
    color: #FF9D2EFF;
}

.header-btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-btn,
.shopping-btn{
    color: var(--btn-color);
    font-size: 20px;
}

.search-btn,
.shopping-btn ion-icon { --ionicon-stroke-width: 50px; }

.nav-toggle-btn {
    display: grid;
    gap: 4px;
}

.line {
    width: 10px;
    height: 3px;
    background-color: var(--btn-color);
    border-radius: 5px;
    transition: 0.25s ease;
}

.line.middle { width: 20px; }

.line.bottom { margin-left: auto; }

.nav-toggle-btn.active .line.top { transform: translate(1px, 3px) rotate(45deg); }

.nav-toggle-btn.active .line.middle { transform: rotate(-45deg); }

.nav-toggle-btn.active .line.bottom { transform: translate(-1px, -3px) rotate(45deg); }


.navbar {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background-color: #fff;
    padding-inline: 20px;
    box-shadow: 0 1px 4px #00000033;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.25s ease;
}

.navbar.active {
    height: 236px;
    visibility: visible;
}

.navbar-list { margin-block: 10px; }

.nav-item:not(:last-child) { border-block-end: 1px solid rgba(255, 255, 255, 0.04); }

.navbar-link {
    color: #0D1216FF;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.25s ease;
}

.navbar-link:is(:hover, :focus) { color: #FF8D29FF; }




/*-----------------------------------*\
  #SEARCH BOX
\*-----------------------------------*/

.search-container {
    position: fixed;
    top: -60%;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: #000000F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}

.search-container.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(50%);
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.search-input {
    color:#DEDEDEFF;
    font-size: 18px;
    padding: 8px 13px;
    padding-inline-end: 70px;
}

.search-input::placeholder { color: #999999FF; }

.search-input::-webkit-search-cancel-button { display: none; }

.search-submit {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    right: -3px;
    color: #454545FF;
    font-size: 33px;
    transition: 0.25s ease;
}

.search-submit:is(:hover, :focus) { color: #DEDEDEFF; }

.search-close-btn {
    position: absolute;
    inset: 0;
    z-index: -1;
    cursor: url("../image/close.png"), auto;
}



@media (min-width: 480px) {

    .header-btn-group .btn {
        display: block;
        --bg-color: #FF8D29FF;
    }

}

@media (min-width: 550px) {

    .container {
        max-width: 550px;
        width: 100%;
        margin-inline: auto;
    }



}


@media (min-width: 768px) {


    .container { max-width: 720px; }


}

@media (min-width: 992px) {

    .container { max-width: 960px; }

    .nav-toggle-btn { display: none; }

    .header .container { gap: 20px; }

    .navbar,
    .navbar.active {
        all: unset;
        margin-inline-start: auto;
    }

    .navbar-list {
        margin-block: 0;
        display: flex;
        gap: 5px;
    }

    .nav-item:not(:last-child) { border-block-end: none; }

    .navbar-link {
        font-size: 1.5rem;
        color: var(--btn-color);
        letter-spacing: -0.5px;
        font-weight: 700;
    }

    .back-top-btn {
        bottom: 20px;
        right: 30px;
    }

}


@media (min-width: 1200px) {
    .container { max-width: 1200px; }

}

